
.game-card {
    display: flex;
    flex-direction: column;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
    height: 350px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    background-color: #18181b;
}
.game-image {
    width: 100%;
    height: 70%;
}
.game-content {
    padding: 10px;
}
.game-title {
    font-size: 1.2rem;
    margin: 0 0 5px 0;
}
.game-genre {
    font-size: 1rem;
    color: #666;
    margin: 0;
    margin-bottom: 10px;
    
}
