*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', Tahoma, Geneva, Verdana, sans-serif;
    
}
.header{
    height: 60px;
    width:100%;
    background-color: #09090b;
    color: white;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav-links{
    display: flex;
    gap: 20px;
    margin-right: 10px;
}
.logo {
    width:40%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: bold;
    
}
.logo h1{
    
    font-size: 2rem;
    margin-left: 5px;
    letter-spacing: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: all 0.3s;
}
.nav-links a:hover{
    color: #ff4500;
}
.nav-links a.active{
    border-bottom: 2px solid #ff4500;
    padding-bottom: 2px;
}
.search-bar input{
    background-color: #18181b;
    width: 350px;
    height: 30px;
    padding: 5px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    outline: none;
    color: white;
    border-left:none;
    font-size: 1.2rem;
}
.search-bar label{
    height:30px;
    width:30px;
    border-right:none;
    position: relative;
    font-size: 1.75rem;
    background-color: #18181b;
    left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    
}
.search-bar{
    display: flex;
    align-items: center;
    
    justify-content: center;
}