

.popup-overlay{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80%;
    background: #18181b;
    border-radius: 20px;
    padding: 10px;
    z-index: 1000;
    
    
}
.popup-left{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.popup-game {
    align-self: start;
    background: #1e1e1e;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height:50%;
    color: white;
    
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    flex-wrap: wrap;
}
.popup-game img {
    position: relative;
    
    left: 2px;
    
    width: 250px;
    height: 100%;
    border-radius: 10px;
}
.game-features h2 {
    position: relative;
    bottom: 14px;
    font-size: 3rem;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color:#ff4500 ;

}
.popup-game-genre {
    position: relative;
    bottom: 5px;
    font-size: 1.2rem;
    
    color: #cccccc;
}
.game-features ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;

}
.game-features li {
    margin-bottom: 8px;
}
.game-features li::marker {
    color: #ff4500;
    font-size: 1.2rem;
}
.game-features h3 {
    margin-top: 5px;
    font-size: 1.5rem;
    color: #ff4500;
}

.game-features {
    width: 400px;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.1rem;
    margin-left: 88px;
}
.popup-content {
    align-self: start;
    margin-top: 10px;
    background: #1e1e1e;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 50%;
    color: white;
    padding: 20px;
    overflow-y: auto;
}
.popup-content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color:#ff4500 ;
}
.popup-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #cccccc;
}
.popup-right {
    align-self: start;
    background: #1e1e1e;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 30%;
    height: 100%;
    margin-left: 10px;
    color: white;
    padding: 20px;
    overflow-y: auto;
}
.popup-right h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color:#ff4500 ;
    white-space: nowrap;
}
.popup-right ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
    font-size: 1.2rem;

}
.popup-right li {
    margin-bottom: 8px;

}
.popup-right li::marker {
    color: #ff4500;
    font-size: 1.2rem;
}