
.background-image{
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100vh;
    background-image: url("/bgimg.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.title-text{
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-top: 22vh;
    text-shadow: 0 0 20px black;
    letter-spacing: 2px;
}