.horizontal-card {
    display: flex;
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    width: 100vw;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}