:root{
    --primary-color: #00f2ea;
    --secondary-color: #ff0055;
    --text-color: #ffffff;
    --background-color: #09090b;
    background-color: var(--background-color);
    color: var(--text-color);
}